# Ignore votre dossier d'expérimentation et tout son contenu
experimentation/
experimentations/
# Environnements virtuels Python 
venv/
.venv/
env/
__pycache__/
*.pyc


# Fichiers contenant les clés d'API secrètes ou configurations Firebase
.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.vscode/
.idea/
.gitkeep

